Django>=6.0,<6.1
djangorestframework>=3.17,<3.18
djangorestframework-simplejwt>=5.5,<5.6
drf-spectacular>=0.29,<0.30
django-simple-history>=3.11,<3.12
django-redis>=6.0,<6.1
redis>=7.4,<7.5
Pillow>=12.1,<12.2
django-cors-headers>=4.7,<4.8
whitenoise>=6.9,<6.10
psycopg2-binary>=2.9,<2.10
gunicorn>=23.0,<23.1
